Repository Whisky-App/whisky-book, pull requests merged in 2024-10, with the labels that each got.

#101 Add Tekken 7 & 8
  src/SUMMARY.md
  src/game-support/tekken7.md
  src/game-support/tekken8.md
Labels: game addition

#102 Add warnings to users contributing
  README.md
Labels: docs addition

#104 Genshin support: Silver status
  src/SUMMARY.md
  src/game-support/genshin-impact.md
Labels: game update

#107 Add ban warning to Genshin
  src/game-support/genshin-impact.md
Labels: game update

#100 Add `-nobattleye` launch option to docs for GTA V
  src/game-support/gta-5.md
Labels: game update

#109 Create Path of Exile and Psychonauts 2
  src/SUMMARY.md
  src/game-support/path-of-exile.md
  src/game-support/psychonauts-2.md
Labels: game addition

#108 Add tutorial for creating a Shared Game Library
  src/guide.md
Labels: docs addition

#111 meta: Add Pull-Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#112 docs: add Hitman: WA status
  src/SUMMARY.md
  src/game-support/hitman-wa.md
Labels: game addition

#110 docs: added Yakuza 6
  src/SUMMARY.md
  src/game-support/yakuza-6.md
Labels: game addition
